  
@page "/user-edit"  
@page "/user-edit/{UserId}"  

@if (!Saved)  
{  
    <MudPaper Class="p-6">  
        <MudText Typo="Typo.h4">Details for @User.FirstName @User.LastName</MudText>

            <MudForm @ref="_form" Model="@User" OnValidSubmit="@HandleValidSubmitAsync">

            @* @if (-?.Length > 0)  
            {  
                <MudFileInput Label="Select image: " OnChanged="OnInputFileChange" />  
                @if (Employee.EmployeeId == 0)
                {
                    <div class="row mb-3">
                        <label for="image" class="col-12 col-sm-3">Select image: </label>
                        <div class="col-md-8">
                            <InputFile OnChange="OnInputFileChange" />
                        </div>

                    </div>
                }
            } *@  
  
            <MudTextField Label="Last name: " @bind-Value="@User.LastName" For="@(() => User.LastName)" />  
            <MudTextField Label="First name: " @bind-Value="@User.FirstName" For="@(() => User.FirstName)" />  
            <MudTextField Label="Email: " @bind-Value="@User.Email" For="@(() => User.Email)" />

            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-3 mr-2" OnClick="() => _form.Validate()">Save user</MudButton>

            @if (User.Id?.Length > 0)  
            {
                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Secondary" Class="mt-3 mr-2" OnClick="@DeleteUserAsync">
                    Delete  
                </MudButton>  
            }

            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Primary" Class="mt-3 mr-2" OnClick="@NavigateToOverview">Back to overview</MudButton>
        </MudForm>
    </MudPaper>
}
else
{
    <MudAlert Severity="@(Saved ? Severity.Success : Severity.Error)" Variant="Variant.Filled">@Message</MudAlert>
    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Primary" Class="mt-3 mr-2" OnClick="@NavigateToOverview">Back to overview</MudButton>
}
